
/* INIT */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #be9500;
}
body {
  margin: 0;
  background-color: #f9f9f9;
}
* {
  font-family: "Bookman Old Style", Georgia, serif;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
@media only screen and (max-width: 992px) {
  .desktop--only {
    display: none;
  }
  .mob--only {
    display: auto;
  }
}
@media only screen and (min-width: 992px) {
  .mob--only {
    display: none;
  }
  .desktop--only {
    display: auto;
  }
}

/* COMPONENTS */

.standard-btn {
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 10px 11px 12px;
  font-size: 14px;
  background-color: black;
  color: white;
  border-width: 1px;
  font-size: 18px;
}
.standard-btn:hover {
  background-color: white;
  color: black;
}
.standard-btn[disabled],
.standard-btn[disabled]:hover {
  cursor: not-allowed;
  opacity: 0.4;
  background-color: black;
  color: white;
}

.minimal-btn {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  transition: border 0.1s ease;
  padding: 5px 8px 5px;
  font-size: 14px;
}
.minimal-btn:hover {
  background-color: black;
  color: white;
}
.minimal-btn.danger {
  border: 1px solid tomato;
  color: tomato;
}
.minimal-btn.danger:hover {
  background-color: tomato;
  color: white;
}

.standard-input::placeholder {
  color:rgb(173, 173, 173);
  content: 'write here';
}
.standard-input {
  border-width: 1px;
  outline: none;
  padding: 11px;
  font-size: 16px;
}

.loader-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35vh;
}