
/* INIT */
:root {
  --primary-color: #be9500;
}
body {
  margin: 0;
  background-color: #f9f9f9;
}
* {
  font-family: "Bookman Old Style", Georgia, serif;
}
.desktop--only {
  display: none;
}
@media (min-width: 992px) {
  .mob--only {
    display: none;
  }
  .desktop--only {
    display: auto;
  }
}

/* MISC */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.d-flex-col {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

/* TEXT */
.text-center {
  text-align: center;
}
.text-18 {
  font-size: 18px;
}
.text-14 {
  font-size: 14px;
}

/* MARGINS */

.ml-8 {
  margin-left: 8px;
}

/* COMPONENTS */

.standard-btn {
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
  transition: border 0.1s ease;
  padding: 5px 8px 8px;
  font-size: 14px;
}
.standard-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1.95px 1px;
}
.standard-btn.hidden {
  border: 1px solid transparent;
}
.standard-btn.hidden:hover {
  border-color: grey
}